<%= search_form_for @a, url: articles_search_path do |f| %>
  <div class="search-wrapper">
    <div class="search-content col-12">
        <%= f.label :type_id_eq, '種類を選択', class: 'label' %>
        <div class="radio-btn">
          <%= f.radio_button :type_id_eq, '', {checked: true} %>指定なし
          <%= f.radio_button :type_id_eq, 1 %>補助金・助成金
          <%= f.radio_button :type_id_eq, 2 %>制度融資
        </div>
    </div>
    <div class="search-content col-12">
        <%= f.label :area_id_eq, '地域を選択', class: 'label' %>
        <%= f.collection_select(:area_id_eq, Area.all, :id, :name, {include_blank: "---"}, {class:"search-select-box float-right"}) %>
    </div>

    <div class="search-content col-12">
        <%= f.label :title_or_infomation_cont, 'キーワード検索', class: 'label' %>
        <%= f.search_field :title_or_information_cont, placeholder: 'キーワードを入力', class:"search-form-control float-right" %>
    </div>
    <div class="search-content col-12 text-center">
      <%= f.submit 'この条件で検索する', class:"btn btn-outline-success search-btn" %>
    </div>
  </div>
<% end %>